.btn {
  margin: 30px auto;
  background: #1fa340;
  width: 200px;
  height: 200px;
  border-radius: 20px;
  text-align: center;
  line-height: 200px;
  font-weight: bold;
  font-size: 46px;
  color: #fff;
  box-shadow: 0 10px 0 #146d2a;
  user-select: none;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.btn:active {
  margin-top: 35px;
  box-shadow: 0 5px 0 #146d2a;
}